.container {
  text-align: center;
  margin-top: 40px;
}

h2 {
  margin-bottom: 20px;
}

.list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.box {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: grab;
  background-color: white;
}

.box.dragging {
  opacity: 0.5;
  border-style: dashed;
}
